# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
build.gradle
gradle
CREDITS.txt
forge-1.12.2-14.23.4.2757-changelog.txt
gradle.properties
gradlew
gradlew.bat
LICENSE.txt
LICENSE-Paulscode IBXM Library.txt
LICENSE-Paulscode SoundSystem CodecIBXM.txt
README.txt

# other
eclipse
run
build.bat
